---
import datos from "../componentes/productos.json";

---

<div id="items" class="px-10 mx-auto grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10">
    {
        datos.map(function(producto){
            return (
                <div class="border border-blue-800 rounded-md flex flex-col ">
                    <div class="h-1/2 mb-8 p-5 mx-auto">
                        <img src={producto.img} class="h-36 object-cover transition hover:scale-110 cursor-pointer" alt="">
                    </div>
                    <div class="flex flex-col gap-5 justify-center items-center pb-10 border-b-2 border-sky-900">
                        <h2 class="font-bold text-xl text-slate-100">{producto.producto}</h2>
                        <p class="font-semibold text-lg text-slate-100">{producto.descripcion}</p>
                    </div>
                    
                    <div class="my-auto pr-5 pb-5 flex justify-evenly py-5">
                        <p class="font-semibold text-base text-slate-100">Precio:</p>
                        <p class="precio font-semibold text-base text-slate-100">${producto.precio}</p>
                    </div>
                    <div class="mx-auto pb-5">
                         <button class="botoncito border-slate-700  bg-sky-800 shadow-2xl text-slate-100 px-3 py-2 rounded-2xl transition hover:scale-105 hover:bg-sky-500 active:bg-sky-300">Comprar</button>
                    </div>
                </div>
            )
        })
    }

</div>